/*Font size for entire body is used*/
body{	
	font-size: 20px;
}
/*For styling each element of navbar*/
nav ul li{
	display: inline;
	padding: 10px;
	background-color: black;
	opacity: 0.8;
	border: 2px solid;
	border-color: yellow;
}
a {
	color: white;
	text-decoration: none;
}
/*For navbar styling*/
nav {
	padding: 10px;
	text-align: center;
	float: right;

}
/*For footer styling*/
footer{
	padding: 5px;
	color: white;
	text-align: center;
	border: 1px solid black;
	position: absolute;
	top: 93%;
	width: 98%;
	font-size: 20px;
	background-color: black;
	opacity: 0.9;
	height: 45px;
}
/*For styling the table of class name */
.UD {
	position: absolute;
	left: 22%;
	font-size: 30px;
	color: white;
	font-size: 25px;
	font-family: sans-serif;
}
/*for using hover effect in navbar*/
nav ul li :hover{
	opacity:0.9;
	color: yellow;
	border: 1px;
	border-color: black;
	padding: 10px;
	font-size: 20px;
}
/*for using hover effect in image*/
.image a :hover{
	padding: 10px;
}
